.collection {
  border: 1px solid #eaeaea;
  box-shadow: 1px 1px 1px 1px #642e07;
  max-width: 30vw;
  display: flex;
  justify-content: center;
}

h2 {
  font-family: future-pt, helvetica, arial, sans-serif;
  color: #642e07;
  font-weight: lighter;
}

.collection img {
  object-fit:contain;
  width: 24vw;
  margin: 2vh 3vw 3vh 3vw;
}

button {
  background-color: #642e07;
  border: 2px solid #ffffff;
  box-shadow: 1px 1px 1px 1px #422910;
  border-radius: 1px;
  color: #ffffff;
  width: 10vw;
  height: 4vh;
  position: relative;
  right: 30vw;
  top: 10vh;
}
